.circular-image-text-wrap { /* Besoin d'utiliser un fichier css au lieu de chakra ui pcq les 2 dernières lignes de css sont pas dans la lib*/
  float: left;
  margin-right:3rem; 
  border-radius: 100%;
  -webkit-shape-outside:circle();
  shape-outside:circle();
}